// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
@import 'sweetalert';
body {
  background: #e2ebf3;
} 
//GLOBAL STYLES
//---------------------------------------
//Style for the div around all FORMS
.formWrapper {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
//Styles Buttons
.siteButtons {

}
//---------------------------------------
.billMain{
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

