

<div class="formWrapper">
  <h3>Add a Roommate</h3>
  <form class="addRoomForm" ng-submit="addRoommate(room)">
    <input ng-model="room.name" placeholder="name" type="text" required>
    <input ng-model="room.email" placeholder="email" type="text" required>
    <input ng-model="room.phone" placeholder="phone number" type="text" required>
    <input ng-model="room.user_id" placeholder="house #id" type="text" required>
    <button>Add</button>
    <button ng-click="goBack()">Go Back</button>
  </form>
</div>




