<div class="chart">

  <h2>{{title}}</h2>

  <table >
    <tbody>
      <tr>
        <th width="50">Bill</th>
        <th width="25">#ID</th>
        <th width="25">Due Date</th>
        <th width="25">Amount</th>
      </tr>

      <!-- <tr ng-repeat="roommate in roommates">
        <td><a href="#/roommate/{{ roommates.id }}">{{ roommates.name }}</a></td> 
      </tr> -->

      <tr ng-repeat="bill in bills">
        <td><a href="#">{{ bill.title }}</a></td> 
        <td><a href="#">{{ bill.bill_id }}</a></td> 
        <td><a href="#">{{ bill.due_date }}</a></td> 
        <td><a href="#">{{ bill.amount }}</a></td> 
      </tr>

    </tbody>
  </table>

</div>
