<h2>{{title}}</h2>

<table >
  <tbody>
    <tr>
      <th width="200">Roommate</th>
      <th width="100">Bill</th>
      <th width="100">Bill</th>
      <th width="100">Bill</th>
      <th width="100">Bill</th>
      <th width="100">Bill</th>
      <th width="100">Bill</th>
    </tr>
    <tr ng-repeat="roommate in roommates">
      <td>{{  }}</td>
      <td>{{  }}</td>
      <td>{{  }}</td>
      <td>{{  }}</td>
      <td>{{  }}</td>
      <td>{{  }}</td>
      <td>{{  }}</td>
    </tr>
  </tbody>
</table>
