
 <div class="board">
 <div class="move">Where Would You Like to Go?</div>
 <br>
   <ul>
     <li>
       <a class="thumb" href="#/charts/{{charts.id}}"><img class="charts" src="../images/chart.png">&nbsp; &nbsp;CHART</a>
     </li>
     <br>
     <li>
       <a class="thumb"  href="#/roommates/{{roommates.id}}"><img src="../images/roomies.jpg">&nbsp;&nbsp;ROOMMATES</a>
     </li>
     <br>
     <li>
       <a class="thumb"  href="#/bills"><img src="../images/Utility.jpg">&nbsp;&nbsp;BILLS</a>
     </li>
   </ul>
 </div>