
<div class="home">
  <div class="group">
    <div class="log">
      <form ng-submit="login(user)">
        <input placeholder="Email" ng-model="user.email">
        <input placeholder="Password" ng-model="user.password" type="password">
        <button>Login</button>
      </form>
    </div>
    <div class="signup">
      <form ng-submit="create(user)">
        <input placeholder="Email" ng-model="user.email">
        <input placeholder="First Name" ng-model="user.first_name">
        <input placeholder="Last Name" ng-model="user.last_name">
        <input placeholder="Password" ng-model="user.password">
        <input placeholder="Address" ng-model="user.address">
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>

