<div class="homeWrapper">
  <div class="home">
    <div class="group">
      <div class="log">
        <h4 class="homeTitle">Sign In</h4>
        <form ng-submit="login(user)">
          <input placeholder="Email" ng-model="user.email">
          <input placeholder="Password" ng-model="user.password" type="password">
          <button>Login</button>
        </form>
      </div>
      <div class="signup">
        <form ng-submit="create(user2)">
          <h4 class="homeTitle">Register</h4>
          <input placeholder="First Name" ng-model="user2.first_name">
          <input placeholder="Last Name" ng-model="user2.last_name">
          <input placeholder="Email" ng-model="user2.email">
          <input placeholder="Password" ng-model="user2.password" type="password">
          <input placeholder="Address" ng-model="user2.address" type="text">

          <button>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

