
 
<h3 class="=roomTitle">My Roommates</h3>

<div ng-repeat="roommate in roommates">

  <div class="roomWrapper">
    <h5>
      <a href="#/roommates/{{roommate.id}}">
        <h4>Name: {{roommate.name}}</h4>
        <h4>ID: {{roommate.id}}</h4>
        <h4>Email: {{roommate.email}}</h4>
        <h4>Phone: {{roommate.phone}}</h4>
      </a>
    </h5>
 
  <button ng-click="editRoomPage()">Edit</button>

  </div>
</div>

<div class="addGoBack">
  <button ng-click="addRoomPage()">Add</button>
  <button ng-click="goBack()">DashBoard</button>
</div>